In [1]:
import pandas as pd

In [4]:
export_2015 = pd.read_excel(open('2015.xlsx', 'rb'), sheet_name=1)

In [5]:
export_2015.head()

,Reporter Name,Partner Name,Year,Trade Flow,No Of exported HS6 digit Products,Export Share in Total Products (%),Export (US$ Thousand),Export Partner Share (%)
0,Russian Federation,Aruba,2015,Export,NaN,NaN,NaN,NaN
1,Russian Federation,Afghanistan,2015,Export,183.0,4.23,148012.80,0.04
2,Russian Federation,Angola,2015,Export,286.0,6.61,139394.17,0.04
3,Russian Federation,Anguila,2015,Export,NaN,NaN,NaN,NaN
4,Russian Federation,Albania,2015,Export,86.0,1.99,66986.54,0.02

In [6]:
export_2016 = pd.read_excel(open('2016.xlsx', 'rb'), sheet_name=1)

In [7]:
export_2016.head()

,Reporter Name,Partner Name,Year,Trade Flow,No Of exported HS6 digit Products,Export Share in Total Products (%),Export (US$ Thousand),Export Partner Share (%)
0,Russian Federation,Aruba,2016,Export,2.0,0.05,21610.42,0.01
1,Russian Federation,Afghanistan,2016,Export,125.0,2.87,184160.51,0.06
2,Russian Federation,Angola,2016,Export,340.0,7.82,567915.73,0.20
3,Russian Federation,Albania,2016,Export,86.0,1.98,57932.40,0.02
4,Russian Federation,Andorra,2016,Export,41.0,0.94,2363.46,0.00

In [8]:
export = pd.concat([export_2015, export_2016])

In [9]:
export.sample(10)

,Reporter Name,Partner Name,Year,Trade Flow,No Of exported HS6 digit Products,Export Share in Total Products (%),Export (US$ Thousand),Export Partner Share (%)
226,Russian Federation,Yemen,2015,Export,15.0,0.35,208119.11,0.06
155,Russian Federation,Norway,2016,Export,554.0,12.74,736965.57,0.26
34,Russian Federation,Botswana,2016,Export,8.0,0.18,21248.74,0.01
13,Russian Federation,Azerbaijan,2016,Export,2046.0,47.03,1508064.66,0.53
92,Russian Federation,Croatia,2016,Export,312.0,7.17,576415.13,0.20
221,Russian Federation,British Virgin Islands,2015,Export,88.0,2.03,62181.38,0.02
206,Russian Federation,Trinidad and Tobago,2015,Export,20.0,0.46,248248.25,0.07
230,Russian Federation,Zimbabwe,2015,Export,66.0,1.52,3088.02,0.00
183,Russian Federation,Sierra Leone,2015,Export,26.0,0.60,3094.75,0.00
53,Russian Federation,Cyprus,2016,Export,350.0,8.05,282810.83,0.10

In [13]:
pd.options.display.float_format = '{:.2f}'.format

In [14]:
export.pivot_table(index=['Year'], values='Export (US$ Thousand)', aggfunc='sum')

      Export (US$ Thousand)
Year
2015           975175066.12
2016           853198459.92

In [19]:
export.pivot_table(index=['Year','Partner Name'], values='Export (US$ Thousand)', aggfunc='sum').sort_values('Export (US$ Thousand)', ascending=False)

                                     Export (US$ Thousand)
Year Partner Name
2015  World                                   343907651.83
2016  World                                   285491052.01
2015 Europe & Central Asia                    188344810.70
2016 Europe & Central Asia                    185198488.33
2015 East Asia & Pacific                       63818526.25
2016 East Asia & Pacific                       54840276.37
2015 Unspecified                               53098256.49
     Netherlands                               40198496.43
2016 Netherlands                               29254623.87
2015 China                                     28334954.57
2016 China                                     28021250.17
     Germany                                   21258480.74
     Middle East & North Africa                18442605.73
2015 Italy                                     16204284.05
     Germany                                   15906242.25
     Middle East & North Africa                14438344.11
     Japan                                     14426352.10
2016 Belarus                                   14050696.99
     Turkey                                    13698261.43
2015 Korea, Rep.                               13196117.47
     Belarus                                   12428309.69
2016 Italy                                     11931332.88
2015 Turkey                                    11703271.07
     Kazakhstan                                10301605.71
2016 Korea, Rep.                               10027147.25
     North America                              9845390.05
2015 Poland                                     9513335.86
2016 Kazakhstan                                 9426891.45
     United States                              9425801.96
     Japan                                      9384191.78
...                                                    ...
2015 Saint Helena                                     0.00
2016 Niue                                             0.00
2015 Eritrea                                          0.00
     Fr. So. Ant. Tr                                  0.00
     East Timor                                       0.00
2016 Montserrat                                       0.00
2015 Greenland                                        0.00
2016 Bouvet Island                                    0.00
2015 Solomon Islands                                  0.00
     Grenada                                          0.00
2016 Pitcairn                                         0.00
2015 South Georgia and the South Sa                   0.00
2016 British Indian Ocean Ter.                        0.00
2015 Cook Islands                                     0.00
2016 Saint Barthélemy                                 0.00
     St. Kitts and Nevis                              0.00
     Saint Helena                                     0.00
2015 Guinea-Bissau                                    0.00
2016 American Samoa                                   0.00
2015 Heard Island and McDonald Isla                   0.00
     Comoros                                          0.00
2016 Kiribati                                         0.00
2015 Christmas Island                                 0.00
     Kiribati                                         0.00
2016 Solomon Islands                                  0.00
2015 Russian Federation                               0.00
     Lesotho                                          0.00
2016 Cocos (Keeling) Islands                          0.00
     Comoros                                          0.00
2015 United States Minor Outlying I                   0.00

[463 rows x 1 columns]

In [22]:
exclude = ['Europe & Central Asia', 'East Asia & Pacific', 'World', 'Unspecified', 'Middle East & North Africa	']
export_filtered = export[-export['Partner Name'].isin(exclude)]

export_filtered.pivot_table(index=['Year','Partner Name'], values='Export (US$ Thousand)', aggfunc='sum').sort_values('Export (US$ Thousand)', ascending=False)

                                     Export (US$ Thousand)
Year Partner Name
2015  World                                   343907651.83
2016  World                                   285491052.01
2015 Netherlands                               40198496.43
2016 Netherlands                               29254623.87
2015 China                                     28334954.57
2016 China                                     28021250.17
     Germany                                   21258480.74
     Middle East & North Africa                18442605.73
2015 Italy                                     16204284.05
     Germany                                   15906242.25
     Middle East & North Africa                14438344.11
     Japan                                     14426352.10
2016 Belarus                                   14050696.99
     Turkey                                    13698261.43
2015 Korea, Rep.                               13196117.47
     Belarus                                   12428309.69
2016 Italy                                     11931332.88
2015 Turkey                                    11703271.07
     Kazakhstan                                10301605.71
2016 Korea, Rep.                               10027147.25
     North America                              9845390.05
2015 Poland                                     9513335.86
2016 Kazakhstan                                 9426891.45
     United States                              9425801.96
     Japan                                      9384191.78
     Poland                                     9098660.07
2015 North America                              8845211.82
     United States                              8393104.75
     Ukraine                                    7163121.74
2016 United Kingdom                             6996918.18
...                                                    ...
     Cocos (Keeling) Islands                          0.00
     Bouvet Island                                    0.00
2015 Greenland                                        0.00
     Grenada                                          0.00
     Saint Helena                                     0.00
     Lesotho                                          0.00
     Tuvalu                                           0.00
     Guinea-Bissau                                    0.00
     Kiribati                                         0.00
2016 Kiribati                                         0.00
2015 Heard Island and McDonald Isla                   0.00
     Solomon Islands                                  0.00
2016 Niue                                             0.00
2015 Eritrea                                          0.00
2016 Eritrea                                          0.00
2015 Wallis and Futura Isl.                           0.00
     Christmas Island                                 0.00
     Comoros                                          0.00
2016 East Timor                                       0.00
     Saint Helena                                     0.00
     Saint Barthélemy                                 0.00
     Fr. So. Ant. Tr                                  0.00
     Grenada                                          0.00
     Pitcairn                                         0.00
2015 South Georgia and the South Sa                   0.00
2016 American Samoa                                   0.00
2015 Montserrat                                       0.00
     East Timor                                       0.00
     Russian Federation                               0.00
2016 Christmas Island                                 0.00

[457 rows x 1 columns]